* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
